<!DOCTYPE HTML>
<html>
<h2 class="section-title">Contact</h2>
<h>Feel Free to Contact us through the following at <b>r.medicine2018@gmail.com</b>  </h>
<br><br>
<a>R / Medicine is dedicated to providing a harassment-free conference experience for everyone regardless of gender, sexual orientation, disability or any feature that distinguishes human beings. Please review the <a href="https://wiki.r-consortium.org/view/R_Consortium_and_the_R_Community_Code_of_Conduct">R Consortium code of conduct .</a></font>
</body>
</html>

