<!DOCTYPE HTML>
<html>
<h2 class="section-title">Lodging and Dining</h2>
<p>
For lodging, click the following link to the <a href="https://www.omnihotels.com/hotels/new-haven-yale/meetings/r-medicine-2018">Omni Hotel.</a>
</p>

<p>
The conference will go from 7am to 5pm daily. Breakfast, lunch, and snacks  will
be provded on both days. There will be a reception on Friday from 5pm
to 6:30 pm where food and drinks will be served.
</p>

<br>

<p>
The Omni Hotel does serve dinner in its rooftop restaurant. If you would
like to venture out a little further the following restaurants are
recommended.
</p>

<div>
<table>
<thead>
<th align="left">Restaurant</th>
<th align="left">Address</th>
<th align="left">Phone</th>
<th align="left">Type of food</th>
</tr>
</thead>
<tbody>
<tr class="odd">
<td align="left">Olea</td>
<td align="left">39 High Street</td>
<td align="left">203-780-8925</td>
<td align="left">Spanish, vegetarian friendly</td>
</tr>
<tr class="odd">
<td align="left">Zinc</td>
<td align="left">964 Chapel Street</td>
<td align="left">203-624-0507</td>
<td align="left">American, contemporary</td>
</tr>
<tr class="odd">
<td align="left">Union League Cafe</td>
<td align="left">1032 Chapel Street</td>
<td align="left">203-562-4299</td>
<td align="left">French, contemporary</td>
</tr>
<tr class="odd">
<td align="left">Barcelona</td>
<td align="left">155 Temple Street</td>
<td align="left">203-848-3000</td>
<td align="left">Mediterranean, European, Spanish</td>
</tr>
<tr class="odd">
<td align="left">Claire's Corner Copia</td>
<td align="left">1000 Chapel Street</td>
<td align="left">203-562-3888</td>
<td align="left">American cafe, kosher, vegetarian, vegan friendly</td>
</tr>
<tr class="odd">
<td align="left">Atticus Bookstore and Cafe</td>
<td align="left">1082 Chapel Street</td>
<td align="left">203-776-4040</td>
<td align="left">American</td>
</tr>
<tr class="odd">
<td align="left">Prime 16</td>
<td align="left">172 Temple Street</td>
<td align="left">203-782-1616</td>
<td align="left">American, pub</td>
</tr>
<tr class="odd">
<td align="left">Louis' Lunch</td>
<td align="left">263 Crown Street</td>
<td align="left">203-562-5507</td>
<td align="left">American, the first hamburger</td>
</tr>
<tr class="odd">
<td align="left">Shake Shack</td>
<td align="left">986 Chapel Street</td>
<td align="left">203-747-8483</td>
<td align="left">American, fast food</td>
</tr>
<tr class="odd">
<td align="left">Mecha Noodle</td>
<td align="left">201 Crown Street</td>
<td align="left">203-691-9671</td>
<td align="left">Japanese, Vietnamese</td>
</tr>
<tr class="odd">
<td align="left">Chipotle Mexican Grill</td>
<td align="left">900 Chapel Street</td>
<td align="left">203-785-0799</td>
<td align="left">Mexican</td>
</tr>
<tr class="odd">
<td align="left">Starbucks</td>
<td align="left">1068 Chapel Street</td>
<td align="left">203-624-3361</td>
<td align="left">Coffee and tea</td>
</tr>
<tr class="odd">
<td align="left">Frank Pepe Pizzeria Napoletana</td>
<td align="left">157 Wooster Street</td>
<td align="left">203-865-5762</td>
<td align="left">Pizza</td>
</tr>
<tr class="odd">
<td align="left">Consiglio's</td>
<td align="left">165 Wooster Street</td>
<td align="left">203-865-4489</td>
<td align="left">Italian, vegetarian friendly</td>
</tr>
</tbody>
</table>
</div>


</body>
</html>
