
<h2 class="section-title">{{ .titles.schedule }}</h2>

<style>
  table {
    border-collapse: collapse;
  }
  th, td {
    border: 1px solid #ccc;
    padding: 10px;
    text-align: left;
    font-size:125%
  }
  tr:nth-child(even) {
    background-color: #eee;
  }
  tr:nth-child(odd) {
    background-color: #fff;
  }            
</style>

<br>

<h3>Friday</h3>
<div>
<table> 
<thead>
<th align="left">Time</th>
<th align="left">Speaker</th>
<th align="left">Affiliation</th>
<th align="left">Title</th>
</tr>
</thead>
<tbody>
<tr class="odd">
<td align="left">7:00 - 8:00</td>
<td align="left">Breakfast</td>
<td align="left"></td>
<td align="left"></td>
</tr>
<tr class="even">
<td align="left">8:00 - 10:00</td>
<td align="left">Mine Cetinkaya-Rundel</td>
<td align="left">RStudio</td>
<td align="left">Shiny Tutorial</td>
</tr>
<tr class="odd">
<td align="left">10:00 - 10:30</td>
<td align="left">Break</td>
<td align="left"></td>
<td align="left"></td>
</tr>
<tr class="even">
<td align="left">10:30 - 10:40</td>
<td align="left">Michael Kane</td>
<td align="left">Yale University</td>
<td align="left">Opening Remarks</td>
</tr>
<tr class="odd">
<td align="left">10:40 - 11:20</td>
<td align="left">Rob Tibshirani</td>
<td align="left">Stanford University</td>
<td align="left"><a target="_blank" href="talks/talk7.pdf">How many units of platelets will the Stanford Hospital need tomorrow?</a></td>
</tr>
<tr class="even">
<td align="left">11:20 - 11:40</td>
<td align="left">Nathaniel Phillips</td>
<td align="left">Roche</td>
<td align="left"><a target="_blank" href="https://ndphillips.github.io/RMedicine_2018/#1">FFTrees: How to create extremely simple, transparent, predictive decision algorithms for both machine learning and clinical decision applications</a></td>
</tr>
<tr class="odd">
<td align="left">11:40 - 12:00</td>
<td align="left">Peter Higgins</td>
<td align="left">University of Michigan</td>
<td align="left">Developing Random Forest Models for Medication Response and Implementation in the Epic EMR</td>
</tr>
<tr class="even">
<td align="left">12:00 - 1:00</td>
<td align="left">Lunch</td>
<td align="left"></td>
<td align="left"></td>
</tr>
<tr class="odd">
<td align="left">1:00 - 1:20</td>
<td align="left">Max Kuhn</td>
<td align="left">RStudio</td>
<td align="left"><a target="_blank" href="talks/Kuhn.pdf">tidymodels: a collection of opinionated modeling packages</a></td>
</tr>
<tr class="even">
<td align="left">1:20 - 1:40</td>
<td align="left">Remi Besson</td>
<td align="left">Ecole Polytechnique</td>
<td align="left"><a target="_blank" href="talks/decision-support-prenatal.pdf">Optimization of a Sequential Decision Making Problem for a Disease Diagnostic Application</a></td>
</tr>
<tr class="odd">
<td align="left">1:40 - 2:00</td>
<td align="left">Xinyue Li</td>
<td align="left">Yale University</td>
<td align="left">Visualizing and Analyzing Circadian Rythms of Infants via Activity Data</td>
</tr>
<tr class="even">
<td align="left">2:00 - 2:20</td>
<td align="left">Steven Schwager and Jason Mezey</td>
<td align="left">Medidata Solutions and Cornell University</td>
<td align="left"><a target="_blank" href="talks/JSM2017-SCAs-170803-revised.pdf">Developing Analytical Software for Clinical Trials with R</a></td>
</tr>
<tr class="odd">
<td align="left">2:20 - 2:30</td>
<td align="left">Joseph Chou</td>
<td align="left">Harvard University</td>
<td align="left">Machine learning analysis of maternal pregnancy clinical notes to predict newborns at risk for neonatal abstinence syndrome</td>
</tr>
<tr class="even">
<td align="left">2:30 - 3:00</td>
<td align="left">Break</td>
<td align="left"></td>
<td align="left"></td>
</tr>
<tr class="odd">
<td align="left">3:00 - 3:40</td>
<td align="left">Michael Lawrence</td>
<td align="left">Genentech</td>
<td align="left">Genomic Data Analysis with R and Bioconductor</td>
</tr>
<tr class="even">
<td align="left">3:40 - 4:00</td>
<td align="left">Eran Bellin</td>
<td align="left">Montefiore</td>
<td align="left"><a target="_blank" href="talks/eran-bellin-yale-r-observational-epidemiology-in-clinical-looking-glass.pptx">How to Ask and Answer your Research Question using Electronic Data System data</a></td>
</tr>
<tr class="even">
<td align="left">4:00 - 4:20</td>
<td align="left">Emily Zabor</td>
<td align="left">Memorial Sloan Kettering Cancer Center</td>
<td align="left"><a target="_blank" href="https://github.com/zabore/r-medicine">Teaching Survival Analysis to Clinical Collaborators</a></td>
</tr>
<tr class="odd">
<td align="left">4:20 - 4:30</td>
<td align="left">Peter Higgins</td>
<td align="left">University of Michigan</td>
<td align="left">From REDCap data to NIH Enrollment Tables</td>
</tr>
<tr class="even">
<td align="left">4:30 - 4:40</td>
<td align="left">Stephan Kadauke</td>
<td align="left">University of Pennsylvania</td>
<td align="left"><a target="_blank" href="talks/"rmedicine-kadauke-20180907.pdf>Teaching Reproducible Clinical Data Analysis to Medical Doctors</a></td>
</tr>
<tr class="even">
<td align="left">5:00 - 6:30</td>
<td align="left">Reception</td>
<td align="left"></td>
<td align="left"></td>
</tr>
</tbody>
</table>
</div>

<br>

<h3>Saturday</h3>
<table>
<thead>
<th align="left">Time</th>
<th align="left">Speaker</th>
<th align="left">Affiliation</th>
<th align="left">Title</th>
</tr>
</thead>
<tbody>
<tr class="odd">
<td align="left">7:00 - 8:00</td>
<td align="left">Breakfast</td>
<td align="left"></td>
<td align="left"></td>
</tr>
<tr class="odd">
<td align="left">8:00 - 10:00</td>
<td align="left">Tutorial</td>
<td align="left">Ben Goodrich</td>
<td align="left">An introduction to Bayesian inference in medicine using Stan</td>
</tr>
<tr class="even">
<td align="left">10:00 - 10:30</td>
<td align="left">Break</td>
<td align="left"></td>
<td align="left"></td>
</tr>
<tr class="odd">
<td align="left">10:30 - 11:10</td>
<td align="left">Harlan Krumholz</td>
<td align="left">Yale University</td>
<td align="left">TBA</td>
</tr>
<tr class="even">
<td align="left">11:10 - 11:30</td>
<td align="left">Chris Kennedy</td>
<td align="left">U.C. Berkeley</td>
<td align="left"><a target="_blank" href="talks/Kennedy-varimpact-Yale-R-Medicine-Sept-2018.pdf">Varimpact: exploratory variable importance integrating causal inference and machine learning</a></td>
</tr>
<tr class="odd">
<td align="left">11:30 - 11:50</td>
<td align="left">Chinonyerem Madu</td>
<td align="left">Children’s Hospital of Philadelphia</td>
<td align="left">Using R to Automate the Investigation of Pediatric Health Disparities</td>
</tr>
<tr class="even">
<td align="left">11:50 - 12:00</td>
<td align="left">Madeleine Gastonguay</td>
<td align="left">Metrum Research Group</td>
<td align="left">Development of an Open and General PBPK Model to Predict Maternal-Fetal Exposures for Drugs Metabolized by CYP Isoenzymes</td>
</tr>
<tr class="odd">
<td align="left">12:00 - 12:20</td>
<td align="left">Jacqueline Buros Novik</td>
<td align="left">Icahn School of Medicine at Mount Sinai</td>
<td align="left"><a target="_blank" href="https://docs.google.com/presentation/d/1IZDeV1krS75lz9xqiPP5TYYhtJFbcYRVJ2ae1YjyhIQ/edit?usp=sharing">Is It Working? Ongoing Evaluation of Drug Efficacy with Joint Models</a></td>
</tr>
<tr class="odd">
<td align="left">12:30 - 1:30</td>
<td align="left">Lunch</td>
<td align="left"></td>
<td align="left"></td>
</tr>
<tr class="even">
<td align="left">1:30 - 1:50</td>
<td align="left">Jennifer Thompson</td>
<td align="left">Vanderbilt University</td>
<td align="left"><a target="_blank" href="https://bit.ly/jlt-rmed2018">The Life of a Reproducible Project in R</a></td>
</tr>
<tr class="odd">
<td align="left">1:50 - 2:10</td>
<td align="left">Denise Esserman</td>
<td align="left">Yale University</td>
<td align="left"><a target="_blank" href="talks/esserman-r-in-medicine-presentation.pptx">Reproducible Clinical Trial Design for Patient Centered Outcomes Research (PCORI)</a></td>
</tr>
<tr class="even">
<td align="left">2:10 - 2:30</td>
<td align="left">Keaven Anderson</td>
<td align="left">Merck</td>
<td align="left">Traceable and reproducible use of R for Analysis and Reporting under regulated environment</td>
</tr>
<tr class="even">
<td align="left">2:30 - 3:00</td>
<td align="left">Break</td>
<td align="left"></td>
<td align="left"></td>
</tr>
<tr class="odd">
<td align="left">3:00 - 3:40</td>
<td align="left">Victoria Stodden</td>
<td align="left">University of Illinois at Urbana-Champaign</td>
<td align="left">Computational Reproducibility in Medical Research: Toward Open Code and Data</td>
</tr>
<tr class="odd">
<td align="left">3:40 - 4:00</td>
<td align="left">Elizabeth Claus</td>
<td align="left">Yale University</td>
<td align="left"><a target="_blank" href="talks/esserman-r-in-medicine-presentation.pptx">Obstacles to Open Science: A Case Study with the Low-Grade Glioma Registry</a></td>
</tr>
<tr class="even">
<td align="left">4:00 - 4:20</td>
<td align="left">Raymond Balise</td>
<td align="left">The University of Miami</td>
<td align="left">A Web App to Visualize Cancer Risk Factors for 900+ Neighborhoods in Florida - ShinyNeighborhood</td>
</tr>
<tr class="even">
<td align="left">4:20 - 4:50</td>
<td align="left">Beth Atkinson, Joseph Chou, Peter Higgins, Stephan Kadauke, Chinonyerem Madu, and Jack Wasey
<td align="left"></td>
<td align="left">Roundtable Discussion: Bridging the Two Cultures</td>
</tr>
<tr class="even">
<td align="left">5:00 - </td>
<td align="left">Drinks offsite</td>
<td align="left"></td>
<td align="left">
</tr>
</tbody>
</table>


